{% extends "./base.html.twig" %}

{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ut numquam adipisci quisquam! Beatae at, repudiandae
    unde aut quod necessitatibus ab earum, asperiores tempora quisquam culpa odio autem soluta in?</p>
{% endblock %}