{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter un voeux</h1>
{{form_start(formWish)}}
{{form_widget(formWish)}}
<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
{{form_end(formWish)}}
{% endblock body %}